{% extends 'map/layout.html' %}
{% load static %}


{% block header %}
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
    integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY=" crossorigin="" />
<script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
    integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo=" crossorigin=""></script>
{% endblock %}

<!-- Inside head -->
{% block content %}

<!-- Info text -->
<div class="hero__container" style="background-color: #131313; max-width: 100vw;">
    <div class="hero__heading">
        <span>Spot a Fire?</span>
    </div>
    <p class="hero__description" style="max-width: 50%; color: #ee0979; font-size: 2em;">
        Based on interviews, firefighters have highlighted that one of the most
        apparent areas for improvement lies in the fact that they often miss some
        of the most crucial early stages of fires, which are left unattended until
        they physically arrive at the location.

        <br>
        <br>

        This delay in response time can vary
        significantly and poses a considerable challenge in effectively combating and containing fires.

        <br>
        <br>

    <p style="color: #ff8177; font-size: 2em;">
        Combat that by reporting fires, and in turn predicting their spread in real time.
    </p>
    </p>


    <div class="hero__container" style="background-color: #131313; max-width: 100vw;">
        <div class="hero__heading">
            <span style="margin: 5em;">Report Fire</span>
        </div>
        <form action="{% url 'map:new' %}" method="post">
            {% csrf_token %}

            {{form}}

            <button type="submit">Create Post</button>
        </form>
    </div>
</div>

{% endblock %}