{% extends 'home/layout.html' %}
{% load static %}

{% block content %}

    <!-- Hero Section -->
    <div class="hero" id="home">
      <div class="hero__container">
        <h1 class="hero__heading">Welcome to <span>FireLine</span></h1>
        <button class="main__btn"><a href="#about">Explore</a></button> <!-- linked to about section when click on explore -->
      </div>
    </div>

    <!-- About Section -->
    <div class="main" id="about">
      <div class="main__container">
        <div class="main__img--container">
          <div class="main__img--card">
            <div class="fire">
              <i class="fas fa-solid fa-fire"></i>
            </div>
          </div>
        </div>
        <div class="main__content">
          <h1>What is FireLine?</h1>
          <p>help detect fires using Ai.</p>
        </div>
      </div>
    </div>

    <!-- Maps Section -->
    <div class="maps" id="maps">
      <h1>Maps</h1>
      <div class="maps__wrapper">
        <div class="maps__card">
          <h2>Check out our map!</h2>
          <p>AI Powered Data Visualization</p>
          <div class="maps__btn"><button>Open</button></div>
        </div>
      </div>
    </div>

    <!-- Features Section -->
    <div class="main" id="sign-up">
      <div class="main__container">
        <div class="main__content">
          <h1>Detect a fire</h1>
          <h2>Upload an image</h2>
          <p>See how the fire would spread</p>
          <div class="file-upload">
            <label for="file-input" class="custom-button">Upload File</label>
            <input type="file" id="file-input" class="hidden-input">
          </div>
        </div>
        <div class="main__img--container">
          <div class="main__img--card" id="card-2">
            <i class="fas fa-solid fa-upload"></i>
          </div>
        </div>
      </div>
    </div>

{% endblock %}