{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Fireline</title>
    <link rel="stylesheet" href="{% static 'home/styles.css' %}" />
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.14.0/css/all.css"
      integrity="sha384-HzLeBuhoNPvSl5KYnjx0BT+WB0QEEqLprO+NBkkk5gbc67FTaL7XIGa2w1L0Xbgc"
      crossorigin="anonymous"
    />
  </head>
  <body>

    {% block content %}
    {% endblock %}

    <!-- Footer Section -->
    <div class="mapss" id="mapss">
      <h1>Meet the Team</h1>
    </div>
    <div class="foots" id="foots">
      <div class="footer__wrapper">
        <div class="footer__card">
          <h2>Krishna Purohit</h2>
          <p>Senior @ George Mason University, majoring in Computer Science</p>
          <div class="footer__btn">
            <button>
              <a href="https://www.linkedin.com/in/krizhp/" class="social__icon--link">
                <i class="fab fa-linkedin"></i>
              </a>
            </button>
          </div>
        </div>
      </div>

      <div class="footer__wrapper">
        <div class="footer__card">
          <h2>Sohil Shah</h2>
          <p>Junior @ George Mason University, majoring in Computer Science</p>
          <div class="footer__btn">
            <button>
              <a href="http://www.linkedin.com/in/sohil-shah-1b1023122" class="social__icon--link">
                <i class="fab fa-linkedin"></i>
              </a>
            </button>
          </div>
        </div>
      </div>

      <div class="footer__wrapper">
        <div class="footer__card">
          <h2>Salem Abdul-Baki</h2>
          <p>Junior @ George Mason University, majoring in Computer Science</p>
          <div class="footer__btn">
            <button>
              <a href="https://www.linkedin.com/in/salem-abdul-baki-969326288/" class="social__icon--link">
                <i class="fab fa-linkedin"></i>
              </a>
            </button>
          </div>
        </div>
      </div>

      <div class="footer__wrapper">
        <div class="footer__card">
          <h2>Devon Daniels</h2>
          <p>Junior @ George Mason University, majoring in Computer Science</p>
          <div class="footer__btn">
            <button>
              <a href="https://www.linkedin.com/in/devon-daniels-580832262/" class="social__icon--link">
                <i class="fab fa-linkedin"></i>
              </a>
            </button>
          </div>
        </div>
      </div>
    </div>
   
    <script src="{% static 'home/app.js' %}"></script>
  </body>
</html>